#create-booking-card-container {
  display: flex;
  /* justify-content: flex-start; */
  margin-bottom: 50px;
  margin-top: 50px;
  width: 410px;
  height: 1500px;
  /* position:sticky; */
  margin-left: 70px;
}

#create-booking-card {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 10px;
  width: 300px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px #999;
  padding: 20px 20px;
  /* position: sticky; */
  top: 10rem;
}

#booking-card-spot-details {
  display: flex;
  justify-content: space-between;
}

#booking-card-price-container,
#booking-card-price {
  font-size: 19px;
}

#booking-card-avg-star-rating {
  font-weight: 600;
}

#booking-card-num-reviews {
  color: #777;
  text-decoration: underline;
}

#booking-rating-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

#booking-card-avg-star-rating-container {
  display: flex;
  align-items: center;
  gap: 3px;
}

#booking-card-dates-form-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
}

#booking-card-dates-button {
  display: flex;
  /* position: relative; */
  border-radius: 10px;
  justify-content: space-evenly;
  gap: 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid #999;
}

#booking-card-dates-button:focus {
  border: 1px solid black;
  border-style: inset;
}

#booking-dates-divider {
  height: 35px;
  width: 1px;
  background-color: #999;
}

.booking-check-date {
  display: flex;
  flex-direction: column;
  gap: 3px;
  text-align: start;
}

.booking-check-date-name {
  font-size: 10px;
  font-weight: 600;
}

.booking-check-date-input {
  border: none;
}

#reserve-button {
  font-size: 15px;
  color: white;
  cursor: pointer;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #ff5a5f;
}

#reserve-button:hover {
  background-color: #f67478;
}

@media (max-width: 768px) {
  #create-booking-card {
    width: 25rem;
  }
  #booking-card-dates-button {
    padding: 0.8rem;
    width: 100%;
  }

  .booking-check-date-input {
    font-size: 1rem;
  }
}
