.spot-image-preview {
  object-fit: cover;
  width: 320px;
  height: 300px;
  border-radius: 25px;
  padding: 10px;
}

.spot-preview {
  display: flex;
  justify-content:flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}

.spot-description {
  color: black;
  padding: 5px;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
}
.spot-description:hover {
  color: #ff5a5f;
}

a:link {
text-decoration: none;
}

.spot-price {
  color: black;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.spot-review {
  color: black;
  padding: 5px;
  margin-bottom: 30px;
  margin-top: -5px;
  margin-left: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.location-edit{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

}

.spot-nav {
  width: 35px;
  height: 35px;
  color: gray;
}

.spot-nav-all {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 20px;
 margin-bottom: 10px;
 margin-left: 70px;
 margin-right: 70px;
 color: rgb(95, 0, 183);
}

.spot-nav-all:hover {
color: #ff5a5f;
}

.spot-nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.spot-nav-seleted {
  display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 70px;
    margin-right: 70px;
    border-bottom: 2px solid gray;
}
